.mainbg{
	border:20px solid #000;
	background-color: #fff;
}
.border{
	border:0.5px solid;
}
.ml10{
	margin-left: 10px;
}

.ml20{
	margin-left: 20px;
}
.ml30{
	margin-left: 30px;
}
.ml40{
	margin-left: 40px;
}
.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}
.mt40{
	margin-top: 40px;
}
.mr60{
	margin-top: 60px;
}
.mbt40{
	margin-top: 40px;
}

.pt50{
	padding-top: 50px;
}
.pt300{
	padding-top: 300px;
}
.pt400{
	padding-top: 400px;
}

.pl150{
	padding-left: 150px;
}

.pl200{
	padding-left: 200px;
}
.pr150{
	padding-right: 150px;
}
