	<div id="side" class="col-sm-3 col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #C9C9C9">工具</div>
			<div style="border: 1px solid ; "></div>
			<div class="row" >
				<div class="col-sm-6 col-md-6" ng-repeat="x in names">
					<a href="#">{{ x }}</a>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #C9C9C9">软件</div>
			<div style="border: 1px solid;"></div>
			<div class="row" >
				<div class="col-sm-6 col-md-6" ng-repeat="x in names">
					<a href="#">{{ x }}</a>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #C9C9C9">经典文章</div>
			<div style="border: 1px solid;"></div>
			<div class="row" >
				<div class="col-sm-6 col-md-6" ng-repeat="x in names">
					<a href="#">{{ x }}</a>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #C9C9C9">推荐书籍</div>
			<div style="border: 1px solid;"></div>
			<div class="row" >
				<div class="col-sm-6 col-md-6" ng-repeat="x in names">
					<a href="#" class="thumbnail">
			    		<img src="http://dhcdn.oss-cn-hangzhou.aliyuncs.com/upload/bann/gg.png">
			    	</a>
			    	<div class="caption">
			    		<p>我与上帝一同出</p>
			    	</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #C9C9C9">
			你问我答
			<a href="#" class="pull-right">下一页</a>
			</div>
			<div class="panel-body">
		问：朝鲜劳动党七大或将透露是否改革开放
		媒体揭陈良宇狱中生活:申请自己掏钱喝红酒被拒
		日媒称中国降格接待日本访华团：态度突然硬化
		北京通州限购再“升级” 三类非住宅纳入限购
		李保国：与巍巍太行相融 与山区百姓相依
			</div>		
		</div>
	</div>